<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/"><b>Zyrux</b></a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% if user_signed_in? %>
        <li class="has-dropdown">
          <a href="#"> <div class="gravatar" style="background:transparent url(<%= gravatar_image_url(current_user.email.gsub('spam', 'mdeering'), size: 45) %>) 0px 0px no-repeat;
            width:45px; height:45px;"></div> </a>
          <ul class="dropdown">
            <li><%= link_to(' My Account', edit_user_registration_path, :class => 'fi-torso') %></li>
            <li><%= link_to(' Logout', destroy_user_session_path, :method => :delete, :class => 'fi-power') %></a></li>
          </ul>
        </li>
      <% else %>
        <li class=""><%= link_to(' Login', new_user_session_path, :class => 'fi-torso') %></li>
      <% end %>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <!--li><a href="#">Left Nav Button</a></li-->
    </ul>
  </section>
</nav>
